body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #268191;
    color: #ffffff;
    padding: 20px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

.trabalho {
    margin-bottom: 20px;
}

.trabalho img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/*botao */

.bg-purple {
    background-color: #268191;
}
.text-purple {
    color: #0d3879;
}

.btn-voltar {
    color:  whitesmoke;
    background-color :#0b3a4d;
}
.btn-voltar:hover {
    color: #fff;
    background-color: rgb(90, 159, 180);  
    
    
}

header {
    background-color: #268191;
    color: #fff;
    padding: 20px;
   
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;   
}

a {
    display: inline-block;
    background-color: #04424d;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    
}

a:hover {
    background-color: #11acc7;
}
/*meio*/

.trabalho {
    padding: 25px;
    height: 555px;
    width: 525px;
    border-radius: 19px;
    text-align: center;
    
}

.contaiiner {
    display: flex;
    padding: 35px;
    
  }
  
  .image-contaiiner {
    margin: 15px; /* Espaço entre as imagens */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px;
    
  }
  
  .text {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
  }
  
/**rodape */

footer {
    background-color: #057381;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    
}

.containerr {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapa {
    width: 50%;
}

.info {
    width: 40%;
    
    
text-align: left;
}

.info h2 {
    margin-top: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contatoo {
    text-align: center;
    padding: 20px;
}

.contatoo a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.facebook {
    background-color: #3b5998; /* Cor do Facebook */
}

.whatsapp {
    background-color: #25d366; /* Cor do WhatsApp */
}

.email {
    background-color: #ff5733; /* Cor para o E-mail */
}
